@import "~antd/dist/antd.css";

body {
    font-family: "Roboto Mono", monospace;
}

.h100 {
    height: calc(100vh);
}

.mh100 {
    min-height: calc(100vh);
}
/* ui */
.btn {
    border-color: #e68134 !important;
    color: #e68134 !important;
}

.ant-layout {
    background: #fff !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover {
    border-color: #e68134 !important;
    color: #e68134 !important;
}
.ant-input:focus,
.ant-input-focused,
.ant-input-affix-wrapper-focused {
    border-color: #e68134 !important;
    box-shadow: 0 0 0 2px #e681342e !important;
}

.ant-input:hover {
    border-color: #e68134 !important;
}
.user-icon svg path {
    fill: #e68134 !important;
}

.mb2 {
    margin-bottom: 8px !important;
}

.mb4 {
    margin-bottom: 16px !important;
}

.text-yellow {
    color: #e68134 !important;
}

.text-white {
    color: #fff !important;
}

.w100 {
    width: 100% !important;
}

/* and ui */

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

h2 {
    margin: 0 !important;
}
